@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "proxima-nova", sans-serif;
}

body {
  margin: 0;
  background-color: #f7f3f3;
}

.app {
  width: 90%;
  max-width: 43rem;
  padding: 1rem;
  border-radius: 12px;
  background-color: #f7f3f2;
  margin: 3rem auto;
}

.form-control {
  margin-bottom: 1rem;
}

.form-control input,
.form-control label {
  display: block;
}

.form-control label {
  color: rgb(0, 0, 0);
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: transparent;
  width: 20rem;
  max-width: 100%;
}

.form-control input:focus {
  outline: none;
  border-color: #f8dfdc;
  background-color: #f7f3f2;
}

.form-question {
  display: flex;
  flex-direction: column;
}

.form-options {
  display: flex;
  flex-direction: column;
}

.control-group {
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
}

.control-group .form-control {
  min-width: 15rem;
  flex: 1;
}

.button {
  font: inherit;
  background-color: transparent;
  color: #fc221c;
  border: 1px solid;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: #f8dfdc;
  border-color: #f8dfdc;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active {
  background-color: #ccc;
  border-color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}

.form-actions {
  text-align: right;
}

.form-actions .button {
  margin-left: 1rem;
}

.invalid {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error-text {
  color: #b40e0e;
}
